!!! 5
%html
  %head
    %title Canvas Example
    %meta{ content: 'text/html;charset=utf-8', 'http-equiv' => 'Content-Type' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css' }
    %script{ type: 'text/javascript', src: 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' }
    
    :sass
      body
        font-size: 14px
        margin: 10px
        
        button
          background: none
          border: 1px solid #ddd
          width: 150px
          display: block
          &:hover
            background-color: #f8f8f8
          & + button
            margin-top: 5px
        
        #board
          float: left
          width: 500px
          height: 500px
          position: relative
          margin-right: 10px
          #grid
            position: absolute
            top: 0
            left: 0
          #main-canvas
            position: relative
            z-index: 10
            cursor: pointer
          
        #tips
          color: #999
          list-style: none
          
    :coffee
      class Grid
        constructor: (@context) ->
        
        initGrid: ->
          for x in [0..50]
            @context.moveTo(x * 10 + 0.5, 0)
            @context.lineTo(x * 10 + 0.5, 500)
            
          for y in [0..50]
            @context.moveTo(0, y * 10 + 0.5)
            @context.lineTo(500, y * 10 + 0.5)
            
          @context.strokeStyle = '#ddd'
          @context.stroke()
    
      class Board
        constructor: (@context) ->
          @cells = @initBoard()
        
        initBoard: ->
          ((false for y in [0..49]) for x in [0..49])
                            
        start: ->
          @interval = setInterval @tick, 100
        
        stop: ->
          clearInterval(@interval) if @interval?
          
        reset: ->
          @stop()
          @clearAll()
          @cells = @initBoard()
        
        tick: =>
          @clearAll()
          
          cells = []
          
          for x in [0..49]
            row = []
            for y in [0..49]
              aliveNeighbours = 0
              for neighbour in @neighbourCoordFor(x, y)
                aliveNeighbours += 1 if @cells[neighbour.x][neighbour.y]
              alive = (@cells[x][y] and aliveNeighbours is 2) or aliveNeighbours is 3
              @draw(x, y) if alive
              row.push alive
            cells.push row
            
          @cells = cells
        
        addCell: (x, y) ->
          @cells[x][y] = true
          @draw(x, y)
          
        removeCell: (x, y) ->
          @cells[x][y] = false
          @clear(x, y)
             
        neighbourCoordFor: (x, y) ->
          leftX  = if x is 0 then 49 else x - 1
          rightX = if x is 49 then 0 else x + 1
          upY    = if y is 0 then 49 else y - 1
          downY  = if y is 49 then 0 else y + 1
          
          [
            { x: leftX,  y: upY }
            { x: x,      y: upY }
            { x: rightX, y: upY }
            
            { x: leftX,  y: y }
            { x: rightX, y: y }
            
            { x: leftX,  y: downY }
            { x: x,      y: downY }
            { x: rightX, y: downY }
          ]
        
        clearAll: ->
          @context.clearRect(0, 0, 500, 500)
        
        draw: (x, y) ->
          @context.fillRect(x * 10, y * 10, 10, 10)
        
        clear: (x, y) ->
          @context.clearRect(x * 10, y * 10, 10, 10)
        
      $ ->
        new Grid($('#grid')[0].getContext('2d')).initGrid()
        
        $mainCanvas = $('#main-canvas')
        $mainCanvas.data('board', new Board($mainCanvas[0].getContext('2d')))
        
        $('[data-game-action]').on 'click', ->
          action = $(this).data('game-action')
          $mainCanvas.data('board')[action]()
                
        $mainCanvas.on('contextmenu', (e) ->
          return false
        ).on 'mousedown', (e) ->
          x = Math.floor(e.offsetX / 10.0)
          y = Math.floor(e.offsetY / 10.0)
          board = $(this).data('board')
          if e.which is 1
            board.addCell(x, y)
          else
            board.removeCell(x, y)
        
        
        
  %body
    #board
      %canvas#main-canvas{ width: 500, height: 500 }
      %canvas#grid{ width: 501, height: 501 }
      
    
    %button{ type: 'button', data: { game_action: :start } }
      Start
    %button{ type: 'button', data: { game_action: :stop } }
      Stop
    %button{ type: 'button', data: { game_action: :reset } }
      Reset
    
    %ul#tips
      %li Click to add cell
      %li Right click to remove cell